// NavBar.scss

.NavBar {
    text-align: center;
  
    ul {
      padding: 0;
    }

    button{
        margin: 10px;
    }
  
    .botaoNav {
      background-color: #363e50;
      border: none;
      cursor: pointer;
      font-size: 16px;
      padding: 8px 12px;
      gap: 10px;
      align-items: center;
  
      }
    }
  
  